.contract-table {
  width: 100%;
  border-collapse: collapse;
}

.contract-table th,
.contract-table td {
  padding: 12px 10px;
  text-align: left;
}

.table-header {
  background-color: #222;
  color: #eee;
}
