.funding-card {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  padding: 40px;
  position: relative;
  height: 300px;
  display: flex;
  width: 1000px;
  align-items: center;
  justify-content: flex-start;
}

.funding-overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
