.label {
  font-weight: bold;
  color: #fff;
}

.text {
  color: #ccc;
}

.sub-text {
  font-size: 0.8em;
  color: #aaa;
}

.info-icon {
  margin-left: 8px;
  cursor: pointer;
  font-size: 0.9em;
  color: #888;
}
